* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}
html{
    position: fixed;
}
body{
    background-color: rgb(0, 0, 0);
    background-image:url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 700px;
}
.logo{
    justify-content: center;
    margin-top: 260px;
    display:flex;
    font-size: 100px;
    font-weight: 800;
    color: white;
    margin-bottom: 120px;
}
.logo .mal{
    display: inline;
}
.logo .sta{
    display: inline;
}
.logo .pro{
    display: inline;
}

.menu{
    position: fixed;
    display: block;
    left: 530px;
    margin-bottom: 100px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 245, 58);
    color:rgb(23, 23, 23);
    user-select: none;
    padding: 3px;
    outline: none;
    font-size: 25px;
    font-weight: 900;
   
}
.back{
    display: none;
    top: 550px;
    position: fixed;
    left: 10px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 245, 58);
    color: rgb(23, 23, 23);
    padding: 3px;
    outline: none;
    font-size: 25px;
    font-weight: 900;
    
}
.back:hover{
    background-color:  rgb(176, 170, 65);
    width: 230px;
    height: 60px;
}
.back:active{
    background-color: aliceblue;
}
.menu:hover{
    background-color:  rgb(176, 170, 65);
    width: 230px;
    height: 60px;
}
.menu:active{
    background-color: aliceblue;
}

#ph{
    width: 540px;
    height: 400px;
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 6px,outset;
    border-radius: 10% 10% 10% 10%;
}
#Introduction_video{
    padding-top: 120px;
    padding-left: 500px;

    color: white;
    font-size: 20px;
}
.about{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: block;
    
}